body {
    margin: 0;
    padding-bottom: 230px;
    background-color: #f2f2f2;
}

#mainbody {
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 18px #ccc;
}


/* Website with bigger width */
@media (min-width:1300px){
    #mainbody {
        margin-right: 200px;
        margin-left: 200px;
    }

    #header {
        width: 40%;
        left: 215px;
    }

    #header h1 {
        font-size: 50px;
    }

    #header h2 {
        font-size: 20px;
        letter-spacing: 50px;
    }

    nav {
        width: 25%;
        left: 220px;
        height: 480px;
    }

    nav a {
        font-size: 20px;
        letter-spacing: 15px;
        margin: 40px;
        padding: 10px;
    }

    nav a:hover {
        font-size: 25px;
    }
    
    .container {
        width: 80%;
    }

    .container h2, a {
        font-size: 28px;
    }
    
    .container h1 {
        font-size: 35px;
    }
    
    .container p {
        font-size: 20px;
    }
    
    .container address {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .container fieldset {
        font-size: 25px;
    }
    
    .container legend {
        font-size: 50px;
    }

    .container iframe {
        height: 280px;
    }

    .container img, .container iframe {
        width: 40%
    }

    .container img:hover {
        width: 45%;
        height: auto; 
        object-fit: cover;
    }

    .mainimage {
        width: 110%;
        margin-left: -5%;
        height: auto;
    }

    #socials img {
        width: 90px;
        height: auto;
    }
    
    #socials p {
        font-size: 25px;
        font-family: 'DancingScript', cursive;
    }
}


/* Website with smaller width */
@media (max-width:1300px){
    #mainbody {
        margin-right: 10px;
        margin-left: 10px;
    }

    #header {
        width: 20%;
        left: 20px;
    }

    #header h1 {
        font-size: 25px;
    }

    #header h2 {
        font-size: 10px;
        letter-spacing: 15px;
    }

    nav {
        width: 35%;
        left: 25px;
        height: 360px;
    }

    nav a {
        font-size: 10px;
        letter-spacing: 8px;
        margin: 10px;
        padding: 5px;
    }
    
    nav a:hover {
        font-size: 12px;
    }

    .container{
        width: 90%;
    }
    
    .container h2, a {
        font-size: 18px;
    }
    
    .container h1 {
        font-size: 23px;
    }
    
    .container p {
        font-size: 15px;
    }
    
    .container address {
        font-size: 20px;
    }
    
    .container fieldset {
        font-size: 18px;
    }

    .container legend {
        font-size: 35px;
    }

    .container iframe {
        height: 200px;
    }

    .container img, .container iframe {
        width: 85%
    }

    .container img:hover {
        width: 90%;
        height: auto; 
        object-fit: cover;
    }

    .mainimage {
        margin-left: -2%;
        width: 104%;
        height: 350px;
        object-fit: cover;
    }
    #socials img {
        width: 60px;
        height: auto;
    }
    
    #socials p {
        font-size: 20px;
        font-family: 'DancingScript', cursive;
    }
}

a {
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Navigation Menu CSS */
nav {
    background-color: rgb(40, 40, 40);
    position: fixed;
    top: 160px;
    color: white;
    box-shadow: -10px 0 6px rgb(143, 143, 143);
    padding-top: 60px;
    z-index: 3;
    display: none;
    border-radius: 5em 20em 80em 3em / 12em 6em 12em 3em;
}

nav a {
    font-family: 'FjallaOne', sans-serif;
    color: rgb(255,255, 255);
    line-height: 45px;
    display: block;
    padding: 10px;
}

nav a:hover {
    box-shadow: 0 0 18px rgb(65, 65, 65);
    background-color: rgb(50, 50, 50);
}

.clicked {
    background-color: rgb(50, 50, 50);
}

#webpagenav {
    margin-top: 40px;
}


/* Header CSS */
#header {
    z-index: 4;
    border-radius: 5em 20em 80em 3em / 12em 6em 12em 3em;
    background-color: rgb(40,40,40);
    color: rgb(255,255, 255);
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 40%;
    margin-right: 250px;
    box-shadow: 0 0 18px rgb(105, 105, 105);
    position:fixed;
    top: 30px;
}

#header:hover {
    box-shadow: 0 0 30px rgb(105, 105, 105);
    background-color: rgb(50, 50, 50);
}

#header h1, h2 {
    font-family: 'FjallaOne', sans-serif;
    margin: 5px;
    letter-spacing: 4px;
    color: white;
    line-height: 40px;
}

#header h1 {
    letter-spacing: 10px;
}


/* Containers for Different Elements for the Page */
.container {
    background-color: rgba(0,0,0,0);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(58, 58, 58);
    text-align: center;
    z-index: 1;
}

.container h2 {
    font-family: 'Josefin', sans-serif;
}

.container h1 {
    font-family: 'FjallaOne', sans-serif;
    letter-spacing: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container p {
    font-family: 'Josefin', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.container a {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Josefin', sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
}

.container a {
    background-color: rgb(40, 40, 40)
}

.container a:hover {
    background-color: rgb(60, 60, 60);
    box-shadow: 0 0 18px #ccc;
}

.portrait {
    height: auto;
    width: 50%
}

.container fieldset {
    font-family: 'Josefin', sans-serif;
}

.container address {
    font-family: 'DancingScript', cursive;
}

.container iframe {
    margin: 30px;
    display: inline-block; 
}

.container img{
    margin: 30px;
    display: inline-block;
    height: auto;
}


/* CSS for Social Links at the Bottom of the Page */
#socials  {
    text-align: center;
    margin-bottom: -200px;
    margin-top: 40px;
    z-index: 2;
}

#socials p {
    font-family: 'DancingScript', cursive;
}

#socials a {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

#addsocials {
    display: none;
    margin-bottom: 20px;
}