body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 40px;
}

a {
    padding: 5px;
    font-size:20px;
}

legend {
    font-size: 25px;
}

table, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
    font-size: 20px;
}

.instructions {
    width: 45%;
    float: left;
    padding: 15px;
    font-size: 20px;
}

.images {
    border: 1px solid black;
    width: 45%;
    float: right;
    padding: 15px;
    display: flex;
}

.column {
    flex: 22%;
    padding: 5px;
}

.header {
    background-color: rgb(184, 245, 216);
    text-align: center;
    padding: 15px;
}

.firstheader {
    position: fixed;
    top: 50%;
    margin-top: -220px;
    left: 50%;
    margin-left: -405px;
    background-color: rgb(184, 245, 216);
    text-align: center;
    padding: 15px;
}