body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 40px;
}

a {
    padding: 5px;
    font-size:20px;
}

legend {
    font-size: 25px;
}

table, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
    font-size: 20px;
}

.instructions {
    width: 60%;
    float: left;
    padding: 15px;
    font-size: 20px;
}

.images {
    width: 30%;
    float: right;
    padding: 15px;
}

.header {
    background-color: rgb(150, 180, 166);
    text-align: center;
    padding: 15px;
}